<div class="container">
  <div
    class="text-center bg-dark text-white fw-bold text-center p-2 text-uppercase"
  >
    <h2 class="text- fw-bold">
      Creacion Del Juego <i class="bi bi-controller"></i>
    </h2>
  </div>
  <div class="d-flex justify-content-center" style="margin-top: 160px">
    <div class="card mb-3 shadow rounded" style="width: 620px">
      <div class="row w-100">
        <div class="col-md-6">
          <img
            src="../../../../../assets/img/logo.jpg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-6">
          <div class="container">
            <h2 class="text-center fw-bold">Crear Juego 🦸</h2>
            <div class="mt-2 justify-content-center">
              <p>Realiza la creacion de una juego para iniciar una partida</p>
              <img
                src="../../../../../assets/img/game/hombre araña.png"
                class="w-50"
                style="margin-left: 50px"
              />
            </div>
            <div class="mt-4">
              <button
                class="w-100 btn btn-dark text-white fw-bold p-2 fs-5"
                (click)="createGame()"
              >
                <i class="bi bi-controller"></i> Crear Juego
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
