<div class="container">
  <h2 class="text-center bg-dark text-white fw-bold text-center p-2">
    Iniciar juego
  </h2>
  <div class="d-flex justify-content-center align-content-center">
    <div class="card" style="width: 18rem">
      <img
        src="../../../../../assets/img/logo.jpg"
        class="card-img w-100"
        alt="..."
        style="height: 250px"
      />
      <div class="card-body">
        <h5 class="card-title">Crear Juego</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <button (click)="createGame()">Crear Juego</button>
      </div>
    </div>
  </div>
</div>
