<h2 class="fw-bold text-uppercase text-white rounded bg-dark p-2 text-center">
  Lista De Juegos Disponibles 🀄
</h2>
<div
  class="d-flex justify-content-between align-content-center"
  style="margin-top: 100px"
>
  <div
    *ngFor="let game of games; let indice = index"
    class="card mb-3 shadow rounded"
    style="width: 650px"
  >
    <div class="row g-0">
      <div class="col-md-6">
        <img
          src="../../../../../assets/img/logo.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-6">
        <div class="container">
          <h2 class="text-center fw-bold">
            Cartas Marvel 🦸 #{{ indice + 1 }}
          </h2>
          <div class="mt-2">
            <div class="text-left">
              Juego de cartas de marvel,es un juego donde tiene la participacion
              de diferentes usuarios,donde cuentan con 6 cartas asignadas
              aleaotoriamente por el sistema.<br />
              <span class="fw-bold"
                >Algunas cartas tienen los siguientes personajes:</span
              >
              <ul>
                <li>Spiderman</li>
                <li>Hulk</li>
                <li>Iron man</li>
                <li>Thor</li>
                <li>4 fantasticos</li>
              </ul>
            </div>
          </div>
          <div class="mt-4">
            <button
              class="w-100 btn btn-dark text-white fw-bold p-2 fs-5"
              (click)="addPlayerGame(game.id)"
              *ngIf="!game.begined || game.players.length > 5"
            >
              <i class="bi bi-controller"></i> Jugar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
