<div class="row w-100">
  <div
    class="col-2 vh-100 justify-content-center align-content-center"
    style="background-color: #1c2c4c"
  >
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-10">
    <div class="col-12 bg-light shadow" style="height: 60px">
      <div class="row justify-content-end">
        <div class="col-8">
          <h1 class="fw-bold" style="margin-left: 20px">Inicio</h1>
        </div>
        <div class="col-4 text-center">
          <div class="d-flex justify-content-between">
            <h2>Diego Felipe</h2>
            <button
              class="btn btn-danger p-2 mt-2 text-white fw-bold w-25"
              (click)="salida()"
            >
              Logout
            </button>
          </div>
        </div>
      </div>
      <div
        class="col-12 bg-white mt-2 shadow rounded-2 p-5"
        style="height: 910px"
      >
        <app-game></app-game>
      </div>
    </div>
  </div>
</div>
