<form
  (ngSubmit)="login(email.value, password.value)"
  class="w-100 p-5"
  autocomplete="off"
  [formGroup]="singIng"
>
  <h1 class="fw-bold text-black text-center mt-5">Inicia sesion</h1>
  <div class="mt-2">
    <label class="form-label fw-bold"> Correo </label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      formControlName="email"
      #email
    />
    <span class="form-text text-danger fs-6" *ngIf="fieldValidator('email')"
      >El correo es invalido!</span
    >
  </div>

  <div class="mt-2">
    <label class="form-label fw-bold"> Contraseña </label>
    <input
      type="password"
      id="password"
      name="password"
      class="form-control"
      formControlName="password"
      #password
    />
    <span class="form-text text-danger fs-6" *ngIf="fieldValidator('password')"
      >La contraseña debe tener mas de 6 caracteres!</span
    >
  </div>
  <div class="mt-4">
    <button
      class="btn btn-dark w-100 fw-bold"
      type="submit"
      [disabled]="singIng.invalid"
    >
      <i class="bi bi-box-arrow-in-right"></i> {{ " " }}Iniciar sesion
    </button>
  </div>
  <div class="mt-2">
    <a class="btn btn-light text-black w-100 fw-bold" routerLink="/auth/SingUp">
      <i class="bi bi-person-plus"></i> {{ " " }}Registrarse
    </a>
  </div>

  <div class="mt-2">
    <button
      class="btn btn-light text-black w-100 fw-bold"
      (click)="registerGoogle()"
    >
      <i class="bi bi-google"></i>{{ " " }}Registro con google
    </button>
  </div>
</form>
