<div class="row" style="height: 820px">
  <div
    class="col-1 shadow p-2 rounded"
    style="border: 2px solid#fff"
    *ngFor="let gam of game"
  >
    <div
      class="text-center mt-2"
      *ngFor="let players of gam.players; let indice = index"
    >
      <p class="fw-bold fs-5">{{ gam.players[indice].email }}</p>
      <img
        src="../../../../../assets/img/game/{{ indice + 1 }}.png"
        class="rounded mx-auto d-block bg-danger rounded-5"
        style="width: 80px"
        alt="..."
      />
    </div>
  </div>
  <div class="col-9 marvel" style="height: 820px">
    <div class="d-flex justify-content-center align-content-center"></div>
  </div>
  <div class="col-2 shadow" style="height: 820px">
    <h4 class="text-center fw-bold"></h4>
    <div class="scroll" *ngFor="let gam of cardsPlayer">
      <div
        class="card bg-dark mt-2"
        style="width: 13rem"
        *ngFor="let card of gam.cards"
      >
        <h4 class="text-center text-white fw-bold">
          {{ card.card.nameOfCard }}
        </h4>
        <div class="card-body">
          <img src="{{ card.card.urlImage }}" class="w-100 h-100" />
        </div>
        <div class="card-footer text-center"></div>
      </div>
    </div>
  </div>
</div>
