.marvel {
  background-image: url("../../../../../assets/img/game/29568.jpg");
}
.scroll {
  height: 820px;
  border: 1px solid #ddd;
  overflow-y: scroll;
}

#buttonRendirse:hover{
  background-color: rgb(249, 80, 80);
  color: #ddd;
}
