<form
  (ngSubmit)="normalAuthentication(name.value, email.value, password.value)"
  class="w-100 p-5"
  autocomplete="off"
  [formGroup]="singUp"
>
  <h1 class="fw-bold text-black text-center mt-5">Registrarse</h1>
  <div class="mt-2">
    <label class="form-label fw-bold"> Nombre </label>
    <input
      type="text"
      class="form-control"
      name="name"
      id="name"
      #name
      formControlName="name"
    />
    <span class="form-text text-danger fs-6" *ngIf="fieldValidator('name')"
      >El nombre es requerido!</span
    >
  </div>
  <div class="mt-2">
    <label class="form-label fw-bold"> Correo </label>
    <input
      type="email"
      class="form-control"
      name="email"
      id="email"
      #email
      required
      formControlName="email"
    />
    <span class="form-text text-danger fs-6" *ngIf="fieldValidator('email')"
      >El correo es invalido!</span
    >
  </div>

  <div class="mt-2">
    <label class="form-label fw-bold"> Contraseña </label>
    <input
      type="password"
      class="form-control"
      name="password"
      id="password"
      #password
      required
      formControlName="password"
    />
    <span class="form-text text-danger fs-6" *ngIf="fieldValidator('email')"
      >La contraseña debe tenera mas de 6 caracteres!</span
    >
  </div>
  <div class="mt-2">
    <button
      class="btn btn-dark w-100 fw-bold"
      type="submit"
      [disabled]="singUp.invalid"
    >
      <i class="bi bi-person-plus"></i>{{ " " }}Registrarse
    </button>
  </div>
  <div class="mt-2">
    <a class="btn btn-light text-black w-100 fw-bold" routerLink="/auth/SingIn">
      <i class="bi bi-person-plus"></i> {{ " " }}Volver
    </a>
  </div>
</form>
